@charset "UTF-8";

@import url(sanitize/sanitize.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(animateCss/animate.min.css);

@font-face{
    font-family: 'MyFont';
    src: url('font/corp_round_v1.ttf');
}

// 変数
$sm: 450px;
$tb: 768px;
$pc: 980px;

html{
    font-size: 62.5%;   // 基本フォントサイズ10px
}

body{
    font-family: 'Noto Sans Japanese', serif;
    font-family: MyFont;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;

    *,*::before, *::after{
        box-sizing: border-box;
    }

    a{
        text-decoration: none;  // 初期underbar削除
        color: #000;
    }

    ul{
        padding: 0;
        list-style-type: none;
    }

    // ハンバーガーメニュー
    .Toggle {
        display: none;
        position: fixed;    /* bodyに対しての絶対位置指定 */
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 3;
        right:30px;
        top: 30px;

        @media screen and ( max-width: $pc ){
            display: inline-block;
        }

        span {
            display: block;
            position: absolute;
            width: 40px;
            border-bottom: solid 4px #333;
            -webkit-transition: .35s ease-in-out;
            -moz-transition: .35s ease-in-out;	
            transition: .35s ease-in-out;		

            &:nth-child(1) {
                top:5px;
            }
            &:nth-child(2) {
                top: 18px;
            }
            &:nth-child(3) {
                top: 32px;
            }
        }
    }

    .Toggle.active span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
        
    .Toggle.active span:nth-child(2),
    .Toggle.active span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }


    // ヘッダー
    .header{
        display: flex;
        justify-content: space-between;
        max-height: 150px;

        @media (max-width:$pc){
            display: none;
        }

        &--titleLogo{
            width: 0px;
            margin: -30px 0 0 15px;

            img{
                width: auto;
                height: 200px;
            }
        }
        &--pageLink, ul{
            padding-right: 50px;
            list-style-type: none;
            display: flex;
            align-items: center;

            li{
                font-size: 20px;
                padding: 0 15px;
            }
        }
    }

    // メイン
    .main{
        width: $pc;
        padding: 0 50px;
        margin: 0 auto;

        @media (max-width: $tb ){
            width: $tb;
            padding: 0 30px;
        }
    }
}
