@charset "UTF-8";

@import url(sanitize/sanitize.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@font-face{
    font-family: 'MyFont';
    src: url('font/corp_round_v1.ttf');
}

html{
    font-size: 62.5%;   // 基本フォントサイズ10px
}

body{
    // font-family: 'Noto Sans Japanese', serif;
    font-family: MyFont;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;

    *,*::before, *::after{
        box-sizing: border-box;
    }

    ul{
        padding: 0;
    }

    .header{
        display: flex;
        max-height: 150px;

        &--teamLogo{
            img{
                width: auto;
                height: 100%;
            }
        }
        &--pageLink{
            list-style-type: none;

            li{

            }
        }
    }

}
