@charset "UTF-8";
@import url(sanitize/sanitize.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(animateCss/animate.min.css);
@font-face {
  font-family: 'MyFont';
  src: url("font/corp_round_v1.ttf");
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans Japanese', serif;
  font-family: MyFont;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  max-width: 100vw;
}

body *, body *::before, body *::after {
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #000;
}

body ul {
  padding: 0;
  list-style-type: none;
}

body input[type=submit] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

body .Toggle {
  display: none;
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
  right: 30px;
  top: 30px;
}

@media screen and (max-width: 980px) {
  body .Toggle {
    display: inline-block;
  }
}

body .Toggle span {
  display: block;
  position: absolute;
  width: 40px;
  border-bottom: solid 4px #333;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

body .Toggle span:nth-child(1) {
  top: 5px;
}

body .Toggle span:nth-child(2) {
  top: 18px;
}

body .Toggle span:nth-child(3) {
  top: 32px;
}

body .Toggle.active span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

body .Toggle.active span:nth-child(2),
body .Toggle.active span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

body .header {
  display: flex;
  justify-content: space-between;
  max-height: 150px;
}

@media (max-width: 980px) {
  body .header {
    display: none;
  }
}

body .header--titleLogo {
  width: 0px;
  margin: -30px 0 0 15px;
}

body .header--titleLogo img {
  width: auto;
  height: 200px;
}

body .header--pageLink, body .header ul {
  padding-right: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

body .header--pageLink li, body .header ul li {
  font-size: 20px;
  padding: 0 15px;
}

body .main {
  width: 980px;
  padding: 0 50px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body .main {
    width: 768px;
    padding: 0 30px;
  }
}

@media (max-width: 450px) {
  body .main {
    max-width: 100%;
    padding: 0;
  }
  body .main h1 {
    padding: 0;
    margin: 20px 20px;
  }
}

body .main__each {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

body .main__each li {
  border: 2px solid #000;
  margin: 20px;
}

@media (max-width: 450px) {
  body .main__each li {
    width: 45%;
    margin: 5px;
  }
}

body .main__each li:nth-child(3n+2):last-child {
  margin-right: auto;
}

@media (max-width: 450px) {
  body .main__each li:nth-child(3n+2):last-child {
    margin: 20px;
  }
}

body .main__each li img {
  width: 240px;
  height: auto;
}

@media (max-width: 768px) {
  body .main__each li img {
    width: 300px;
  }
}

@media (max-width: 450px) {
  body .main__each li img {
    width: 100%;
  }
}

body .main__each li p {
  text-align: center;
}

@media (max-width: 450px) {
  body .main__each li p {
    margin: 5px 0;
  }
}
