// 変数
$sm: 450px;
$tb: 768px;
$pc: 980px;

.main{

    // 日本地図
    &__map{
        position: relative;
        box-sizing: border-box;
        margin: 0 auto;
        display: table;
        @media ( max-width: $tb ){
            width: 100%;
        }
      
        /* 日本地図画像（スマホ対応用） */
        img{
            max-width: 100%;
            height: auto;
            border: 0;

            @media ( max-width: $tb ){
                width: 100%;
            }
        }

        /* 日本地図ボタン */
        .area_btn{
            position: absolute;
            z-index: 1;
            box-sizing: border-box;
            cursor: pointer;
            border: 3px solid #333333;
            border-radius: 5px;
            background-color: #FFF;
            padding: 0.2em auto;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;

            @media screen and (max-width: 480px){
                /* スマホユーザー向けにボタン文字サイズを調整 */
                font-size: 4vw;
            }
        }

        /* ボタン配置（使用する日本地図画像により微調整） */
        .area1{
            top: 7%;
            left: 79%;
            width: 15%;
        }
        .area2{
            top: 30%;
            right: 10.8%;
            width: 13%;
        }
        .area3{
            top: 58%;
            right: 11%;
            width: 13%;
        }
        .area4{
            top: 56%;
            right: 27.5%;
            width: 13%;
        }
        .area5{
            top: 68%;
            right: 41.6%;
            width: 13%;
        }
        .area6{
            top: 62%;
            left: 26%;
            width: 13%;
        }
        .area7{
            top: 79%;
            left: 27%;
            width: 13%;
        }
        .area8{
            top: 70%;
            left: 0;
            width: 25%;
        }

        /* オーバーレイ */
        .area_overlay{
            display: none;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            background-color: #111;
            opacity: 0.5;
            cursor: pointer;
        }

        /* 選択前は表示を隠す */
        .pref_area{
            display: none;

            /* 地域毎の都道府県リスト */
            .pref_list{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                z-index: 3;
                box-sizing: border-box;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                width: 90%;
                background-color: #FFF;

                div{
                    box-sizing: border-box;
                    width: 50%;
                    border: 1px solid #CCC;
                    font-weight: bold;
                    text-align: center;
                    padding: 0.5em;
                    cursor: pointer;
                }
            }
            .data1{
                width: 45%;
                div{
                    width: 100%;
                }
            }
        }
    }

    // 都道府県チェックボックス
    &__checkbox{

        .checkboxCommon{

            .category{
                display: flex;
                flex-direction: column;

                // checkbox
                input[type=checkbox]{
                    display: none;

                    & + label{
                        padding-left: 25px;
                        position: relative;
                        background-image:url("../../common/images/map/checkboxOff.svg");
                        background-repeat: no-repeat;
                        background-size: 25px;
                        background-position: 0 center;

                        @media (max-width:$pc){
                            padding-left: 50px;
                            background-size: 50px;
                        }
                    }

                    &:checked + label{
                        background-image: url(../../common/images/map/checkboxOn.svg);
                        background-repeat: no-repeat;
                        background-size: 25px;

                        @media (max-width:$pc){
                            padding-left: 50px;
                            background-size: 50px;
                        }
                    }
                }

                label{
                    &:hover{
                        cursor: pointer 
                    }
                }

                li{
                    padding: 15px 0;

                    // 東西
                    .Ew{
                        font-size: 3rem;
                    }

                    // 地域名
                    .region{
                        font-weight: bold;
                        font-size: 2rem;
                        padding-bottom: 10px;
                    }

                    ul{
                        display: flex;
                        @media (max-width:$tb){
                            flex-direction: column;
                        }

                        li{
                            font-size: 1.8rem;
                            padding: 0 10px 0  0;
                        }
                    }
                }
            }
        }

        &--sent{
            text-align: center;
            input[type=submit]{
                font-size: 1.5rem;
                font-weight: bold;
                border: 2px solid #000;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }
}