.main{

    // 日本地図
    &__map{
        text-align: center;
    }

    // 都道府県チェックボックス
    &__checkbox{

        .checkboxCommon{

            .category{
                display: flex;
                flex-direction: column;

                label{
                    &:hover{
                        cursor: pointer 
                    }
                    input[type=checkbox]{
                        width: 15px;
                        height: 15px;
                    }
                }

                li{
                    padding: 10px 0;

                    // 東西
                    .Ew{
                        font-size: 3rem;
                    }

                    // 地域名
                    .region{
                        font-weight: bold;
                        font-size: 2.3rem;
                        padding-bottom: 10px;
                    }

                    ul{
                        display: flex;

                        li{
                            font-size: 1.8rem;
                            padding: 0 10px 0  0;
                        }
                    }
                }
            }
        }

        &--east{
            
            &-category{


                ul{
                }
            }
        }
    }
}