html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f7fbff;
  background-image: url("../../common/images/ground_New.svg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

body .top {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

body .top--teamLogo {
  height: 0;
  padding: 30px 0 0 40px;
  margin: 0;
  text-align: left;
  position: absolute;
}

body .top--teamLogo img {
  width: 150px;
  height: auto;
}

body .top--main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .top--main__titleLogo {
  margin: 0;
  -webkit-animation-name: Animate;
          animation-name: Animate;
}

body .top--main__titleLogo img {
  width: 800px;
  height: auto;
}

body .top--main__pageLink {
  width: 960px;
  padding-bottom: 10%;
  margin: 0 auto;
}

body .top--main__pageLink ul {
  margin: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .top--main__pageLink ul li {
  text-align: center;
  z-index: 2;
}

body .top--main__pageLink ul li a:hover {
  color: pink;
}

body .top--main__pageLink ul li a i {
  font-size: 4rem;
}

body .top--main__pageLink ul li a p {
  font-size: 2rem;
  white-space: nowrap;
}

body .top--animal p {
  margin: 0;
  position: absolute;
}

body .top--animal p img {
  width: 100%;
  height: auto;
}

body .top--animal__tori {
  width: 20%;
  top: -15%;
  left: 10%;
}

body .top--animal__tori img {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

body .top--animal__kuma {
  width: 20%;
  top: 0%;
  right: 3%;
}

body .top--animal__kuma img {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

body .top--animal__minikuma {
  width: 10%;
  top: 0%;
  right: 22%;
}

body .top--animal__minikuma img {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

body .top--animal__rakko {
  width: 20%;
  top: 40%;
  right: 10%;
  -webkit-animation: Yurayura 10s ease infinite;
          animation: Yurayura 10s ease infinite;
}

body .top--animal__koumori {
  width: 22%;
  top: 30%;
  left: -5%;
  -webkit-animation: Fly 20s ease infinite;
          animation: Fly 20s ease infinite;
}

body .top--animal__kame {
  width: 15%;
  bottom: -10%;
  left: 5%;
}

@-webkit-keyframes Yurayura {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  50% {
    -webkit-transform: translateX(-100px) translateY(10px);
            transform: translateX(-100px) translateY(10px);
  }
  100% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

@keyframes Yurayura {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  50% {
    -webkit-transform: translateX(-100px) translateY(10px);
            transform: translateX(-100px) translateY(10px);
  }
  100% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

@-webkit-keyframes Fly {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  10% {
    -webkit-transform: translateY(-20%) translateX(5%);
            transform: translateY(-20%) translateX(5%);
  }
  20% {
    -webkit-transform: translateY(-30%) translateX(7%);
            transform: translateY(-30%) translateX(7%);
  }
  30% {
    -webkit-transform: translateY(-60%) translateX(10%);
            transform: translateY(-60%) translateX(10%);
  }
  50% {
    -webkit-transform: translateY(-20%) translateX(0%);
            transform: translateY(-20%) translateX(0%);
  }
  70% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  90% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  95% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes Fly {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  10% {
    -webkit-transform: translateY(-20%) translateX(5%);
            transform: translateY(-20%) translateX(5%);
  }
  20% {
    -webkit-transform: translateY(-30%) translateX(7%);
            transform: translateY(-30%) translateX(7%);
  }
  30% {
    -webkit-transform: translateY(-60%) translateX(10%);
            transform: translateY(-60%) translateX(10%);
  }
  50% {
    -webkit-transform: translateY(-20%) translateX(0%);
            transform: translateY(-20%) translateX(0%);
  }
  70% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  90% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  95% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes In {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@keyframes In {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
}

@-webkit-keyframes Shake {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  to {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}

@keyframes Shake {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  to {
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
  }
}

@-webkit-keyframes Animate {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

@keyframes Animate {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

.css_work_farst {
  position: absolute;
  bottom: -5%;
  -webkit-animation-name: In;
          animation-name: In;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.css_work_last {
  -webkit-animation-name: Shake;
          animation-name: Shake;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1.02);
          animation-timing-function: cubic-bezier(0, 0, 1, 1.02);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  overflow: hidden;
}

.css_work_last img {
  width: 200px;
}
/*# sourceMappingURL=style.css.map */