// 変数
$sm: 450px;
$tb: 768px;
$pc: 1080px;

html{
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 238, 227);
    background-image: url("../../common/images/ground.svg");
    background-size: cover;

    .top{
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;

        // チームロゴ
        &--teamLogo{
            height: 0;
            padding: 30px 0 0 40px;
            margin: 0;
            text-align: left;
            position: absolute;

            img{
                width: 150px;
                height: auto;
            }
        }

        &--main{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            // タイトルロゴ
            &__titleLogo{
                margin: 0;
                animation-name:Animate;

                img{
                    width: 900px;
                    height: auto;
                }
            }

            // ページリンク
            &__pageLink{
                width: 960px;
                padding-bottom: 10%;
                margin: 0 auto;

                ul{
                    margin: 0 60px;
                    display: flex;
                    justify-content: space-around;
                    
                    li{
                        text-align: center;

                        a{
                            &:hover{
                                color: pink;
                            }
                            i{
                                font-size: 4rem;
                            }
                            p{
                                font-size: 2rem;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }

        // 動物画像
        &--animal{
            p{
                margin: 0;
                position: absolute;

                img{
                    width: 100%;
                    height: auto;
                }
            }
            &__tori{
                width: 20%;
                top: 30%;
                left: -5%;

                img{
                    transform: rotate( 10deg );
                }
            }
            &__kuma{
                width: 20%;
                top: 0%;
                right: 3%;

                img{
                    transform: rotateX( 180deg );
                }
            }
            &__minikuma{
                width: 10%;
                top: 0%;
                right: 22%;
    
                img{
                     transform: rotateX( 180deg );
                }
            }
            &__rakko{
                width: 20%;
                top: 35%;
                right: 10%;
                animation: Yurayura 10s ease infinite;
            }
            &__koumori{
                width: 20%;
                top: -5%;
                left: 15%;
                animation: Fly 20s ease infinite;
            }
            &__kame{
                width: 15%;
                bottom: -10%;
                left: 5%;
            }
        }
    }
}

@keyframes Yurayura{
    0% { 
        transform:translateX(-30px) 
    }
    50% { 
        transform:translateX(-100px)
        translateY(10px) 
    }
    100% { 
        transform:translateX(-30px) 
    }
}

@keyframes Fly{
    0% { 
        transform:translateY(0%) 
    }
    10% { 
        transform:translateY(-20%) 
        translateX(5%)
    }
    20% { 
        transform:translateY(-30%) 
        translateX(7%)
    }
    30% { 
        transform:translateY(-60%)
        translateX(10%)
    }
    50% { 
        transform:translateY(-20%)
        translateX(0%)
    }
    70% { 
        transform:translateY(-10%)
    }
    90% { 
        transform:translateY(-10%)
    }
    95% { 
        transform:translateY(-5%)
    }
    100% { 
        transform:translateX(0%) 
    }
}

@keyframes In{
    from{
      transform: translateX(-100%);
    }
    to{
      // transition: transform 0.5s linear cubic-bezier(0.4, 0, 1, 1);
      transform: translateX( 100vw );
    } 
}
@keyframes Shake{
    from {
        transform: translate(0,0px);
    }
    to {
        transform: translate(0,-20px);
    }
}
@keyframes Animate{
    0%{
        width: 100%;
    }
    100%{
        width: 50%;
    }
}
.css_work_farst{
    position: absolute;
    bottom: -5%;
    animation-name:In;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.css_work_last{
    animation-name:Shake;
    animation-timing-function: cubic-bezier(0, 0, 1, 1.02);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.7s;
    overflow: hidden;

    img{
        width: 200px;
    }
}

