html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

body .top {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

body .top--teamLogo {
  height: 0;
  padding: 30px 0 0 40px;
  margin: 0;
  text-align: left;
  position: absolute;
}

body .top--teamLogo img {
  width: 150px;
  height: auto;
}

body .top--main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body .top--main__titleLogo {
  margin: 0;
}

body .top--main__titleLogo img {
  width: 800px;
  height: auto;
}

body .top--main__pageLink {
  width: 960px;
  padding-bottom: 10%;
  margin: 0 auto;
}

body .top--main__pageLink ul {
  margin: 0 60px;
  display: flex;
  justify-content: space-around;
}

body .top--main__pageLink ul li {
  text-align: center;
}

body .top--main__pageLink ul li a:hover {
  color: pink;
}

body .top--main__pageLink ul li a i {
  font-size: 4rem;
}

body .top--main__pageLink ul li a p {
  font-size: 2rem;
  white-space: nowrap;
}

body .top--animal .image_animal {
  position: relative;
}

body .top--animal .image_animal .bear {
  top: 0px;
}

body .top--animal .image_animal .bear #bear_hand {
  position: absolute;
  transform: rotate(0.5turn);
  left: 70%;
  width: 300px;
  top: 0px;
}

body .top--animal .image_animal .top_rogo {
  text-align: center;
}

body .top--animal .image_animal .top_rogo .rogo img {
  width: 70%;
}

body .top--animal .image_animal .mini_bear #mini_bear_hand {
  position: absolute;
  transform: rotate(0.5turn);
  left: 55%;
  width: 200px;
  top: 0px;
}

body .top--animal .image_animal .bard img {
  width: 20%;
  position: absolute;
  top: 350px;
  transform: rotate(0.05turn);
  left: -70px;
}

@keyframes In {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(300%);
  }
}

@keyframes Shake {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(0, -20px);
  }
}

body .top--animal .image_animal .css_work_farst {
  width: 320px;
  animation-name: In;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

body .top--animal .image_animal .css_work_last {
  animation-name: Shake;
  animation-timing-function: cubic-bezier(0, 0, 1, 1.02);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.3s;
  overflow: hidden;
}
