/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

html {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #e6fff5;
  background-image: url("../../common/images/ground.svg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
}

body .top {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

body .top--teamLogo {
  height: 0;
  padding: 30px 0 0 40px;
  margin: 0;
  text-align: left;
  position: absolute;
}

body .top--teamLogo img {
  width: 150px;
  height: auto;
}

body .top--main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body .top--main__titleLogo {
  margin: 0;
}

body .top--main__titleLogo img {
  width: 800px;
  height: auto;
  text-align: center;
}

body .top--main__pageLink {
  width: 960px;
  padding-bottom: 10%;
  margin: 0 auto;
}

body .top--main__pageLink ul {
  margin: 0 60px;
  display: flex;
  justify-content: space-around;
}

body .top--main__pageLink ul li {
  text-align: center;
  z-index: 2;
}

body .top--main__pageLink ul li a:hover {
  color: pink;
}

body .top--main__pageLink ul li a i {
  font-size: 4rem;
}

body .top--main__pageLink ul li a p {
  font-size: 2rem;
  white-space: nowrap;
}

body .top--animal p {
  margin: 0;
  position: absolute;
}

body .top--animal p img {
  width: 100%;
  height: auto;
}

body .top--animal__tori {
  width: 20%;
  top: -17%;
  left: 10%;
}

body .top--animal__tori img {
  transform: scale(-1, 1);
  transform: scale(1, -1);
}

body .top--animal__kuma {
  width: 18%;
  top: 0%;
  right: 3%;
}

body .top--animal__kuma img {
  transform: rotateX(180deg);
}

body .top--animal__minikuma {
  width: 10%;
  top: 0%;
  right: 20%;
}

body .top--animal__minikuma img {
  transform: rotateX(180deg);
}

body .top--animal__rakko {
  width: 17%;
  top: 40%;
  right: 10%;
  animation: Yurayura 10s ease infinite;
}

body .top--animal__koumori {
  width: 20%;
  top: 30%;
  left: -5%;
  animation: Fly 20s ease infinite;
}

body .top--animal__kame {
  width: 15%;
  bottom: -10%;
  left: 5%;
}

@keyframes Yurayura {
  0% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(-100px) translateY(10px);
  }
  100% {
    transform: translateX(-30px);
  }
}

@keyframes Fly {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-20%) translateX(5%);
  }
  20% {
    transform: translateY(-30%) translateX(7%);
  }
  30% {
    transform: translateY(-60%) translateX(10%);
  }
  50% {
    transform: translateY(-20%) translateX(0%);
  }
  70% {
    transform: translateY(-10%);
  }
  90% {
    transform: translateY(-10%);
  }
  95% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes In {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes Shake {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(0, -20px);
  }
}

.css_work_farst {
  position: absolute;
  bottom: -5%;
  animation-name: In;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

.css_work_last {
  animation-name: Shake;
  animation-timing-function: cubic-bezier(0, 0, 1, 1.02);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.7s;
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-image: url("../../common/images/ground_tabret.svg");
  }
  body .top--teamLogo {
    padding: 30px 0 0 20px;
  }
  body .top--teamLogo img {
    width: 150px;
  }
  body .top--main__titleLogo {
    margin-top: 60px;
  }
  body .top--main__titleLogo img {
    width: 670px;
    height: auto;
  }
  body .top--main__pageLink {
    width: 100%;
  }
  body .top--main__pageLink ul {
    margin: 0 60px;
    display: flex;
    justify-content: space-around;
  }
  body .top--main__pageLink ul li {
    text-align: center;
    z-index: 2;
    text-shadow: 2px 3px 2px #e1ffe1;
  }
  body .top--main__pageLink ul li a:hover {
    color: pink;
  }
  body .top--main__pageLink ul li a i {
    font-size: 2.5rem;
  }
  body .top--main__pageLink ul li a p {
    font-size: 1rem;
    white-space: nowrap;
  }
  body .top--animal__tori {
    width: 30%;
    top: -10%;
    left: 10%;
  }
  body .top--animal__kuma {
    width: 30%;
    right: 3%;
  }
  body .top--animal__minikuma {
    width: 20%;
    right: 30%;
  }
  body .top--animal__kame .css_work_last img {
    overflow: hidden;
    width: 80%;
    bottom: -20%;
    left: 5%;
  }
  body .top--animal__rakko {
    width: 30%;
    top: 45%;
    right: -3%;
  }
  body .top--animal__koumori {
    width: 30%;
    top: 50%;
    left: -3%;
  }
}

@media (max-width: 850px) {
  body {
    background-size: cover;
    background-image: url("../../common/images/ground_tabret.svg");
  }
  body .top--teamLogo {
    padding: 30px 0 0 20px;
  }
  body .top--teamLogo img {
    width: 150px;
  }
  body .top--main__titleLogo {
    margin-top: 30px;
  }
  body .top--main__titleLogo img {
    width: 700px;
    height: auto;
  }
  body .top--main__pageLink {
    width: 100%;
  }
  body .top--main__pageLink ul {
    margin: 0 60px;
    display: flex;
    justify-content: space-around;
  }
  body .top--main__pageLink ul li {
    text-align: center;
    z-index: 2;
    text-shadow: 2px 3px 2px #e1ffe1;
  }
  body .top--main__pageLink ul li a:hover {
    color: pink;
  }
  body .top--main__pageLink ul li a i {
    font-size: 2.5rem;
  }
  body .top--main__pageLink ul li a p {
    font-size: 1rem;
    white-space: nowrap;
  }
  body .top--animal__tori {
    width: 30%;
    top: -10%;
    left: 10%;
  }
  body .top--animal__kuma {
    width: 30%;
    right: 3%;
  }
  body .top--animal__minikuma {
    width: 20%;
    right: 30%;
  }
  body .top--animal__kame .css_work_last img {
    overflow: hidden;
    width: 80%;
    bottom: -20%;
    left: 5%;
  }
  body .top--animal__rakko {
    width: 30%;
    top: 45%;
    right: -3%;
  }
  body .top--animal__koumori {
    width: 35%;
    top: 50%;
    left: -3%;
  }
}

@media (max-width: 450px) {
  body {
    background-size: cover;
    background-image: url("../../common/images/ground_smartpone.svg");
  }
  body .top--teamLogo {
    padding: 20px 0 0 10px;
  }
  body .top--teamLogo img {
    width: 100px;
  }
  body .top--main__titleLogo {
    margin-top: 60px;
  }
  body .top--main__titleLogo img {
    width: 400px;
    height: auto;
  }
  body .top--main__pageLink {
    width: 100%;
  }
  body .top--main__pageLink ul {
    margin: 0 60px;
    display: flex;
    justify-content: space-around;
  }
  body .top--main__pageLink ul li {
    text-align: center;
    z-index: 2;
    text-shadow: 2px 3px 2px #e1ffe1;
    padding: 5px;
  }
  body .top--main__pageLink ul li a:hover {
    color: pink;
  }
  body .top--main__pageLink ul li a i {
    font-size: 1.7rem;
  }
  body .top--main__pageLink ul li a p {
    font-size: 0.6rem;
    white-space: nowrap;
  }
  body .top--animal__tori {
    width: 35%;
    top: 10%;
    left: -12%;
  }
  body .top--animal__tori img {
    transform: rotate(20deg);
  }
  body .top--animal__kuma {
    width: 35%;
  }
  body .top--animal__minikuma {
    width: 22%;
    right: 35%;
  }
  body .top--animal__kame .css_work_last img {
    overflow: hidden;
    width: 50%;
    bottom: 5%;
    left: 5%;
  }
  body .top--animal__rakko {
    width: 35%;
    top: 45%;
    right: -5%;
    animation: Yurayura_sm 7s ease infinite;
  }
  body .top--animal__koumori {
    width: 40%;
    top: 50%;
    left: -15%;
  }
}

@keyframes Yurayura_sm {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(-60px) translateY(10px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@media (max-width: 380px) {
  body {
    background-size: cover;
    background-image: url("../../common/images/ground_smartpone.svg");
  }
  body .top--teamLogo {
    padding: 20px 0 0 10px;
  }
  body .top--teamLogo img {
    width: 100px;
  }
  body .top--main__titleLogo {
    margin-top: 60px;
  }
  body .top--main__titleLogo img {
    width: 370px;
    height: auto;
  }
  body .top--main__pageLink {
    width: 100%;
  }
  body .top--main__pageLink ul {
    margin: 0 60px;
    display: flex;
    justify-content: space-around;
  }
  body .top--main__pageLink ul li {
    text-align: center;
    z-index: 2;
    text-shadow: 2px 3px 2px #e1ffe1;
    padding: 5px;
  }
  body .top--main__pageLink ul li a i {
    font-size: 1.7rem;
  }
  body .top--main__pageLink ul li a p {
    font-size: 0.6rem;
    white-space: nowrap;
  }
  body .top--animal__tori {
    width: 35%;
    top: 12%;
  }
  body .top--animal__kuma {
    width: 40%;
  }
  body .top--animal__minikuma {
    width: 25%;
    right: 40%;
  }
  body .top--animal__kame .css_work_last img {
    overflow: hidden;
    width: 45%;
    bottom: 30%;
    left: 5%;
  }
  body .top--animal__rakko {
    width: 38%;
    top: 45%;
    right: -5%;
    animation: Yurayura_sm_s 7s ease infinite;
  }
  body .top--animal__koumori {
    width: 45%;
    top: 50%;
    left: -15%;
  }
}

@keyframes Yurayura_sm_s {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(-40px) translateY(5px);
  }
  100% {
    transform: translateX(-10px);
  }
}
