body {
  background-image: url("../../common/images/ground_smartphone_fixed.svg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .main__type ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body .main__type ul li {
  width: 250px;
  padding: 20px 10px;
  margin: 10px;
  font-size: 3rem;
  border: 2px solid #000;
  text-align: center;
}

@media (max-width: 450px) {
  body .main__type ul li {
    width: 100%;
    margin: 20px;
  }
}

body .main__type ul li img {
  width: 80px;
  height: 80px;
}

@media (max-width: 450px) {
  body .main__type ul li img {
    width: 160px;
    height: 160px;
  }
}

body .main__type ul li p {
  margin-bottom: 0;
}
