$sm: 450px;
$tb: 768px;
$pc: 980px;
body {
  background-image: url("../../common/images/ground_smartphone_fixed.svg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .main {
    .active {
      display: inline-block;
    }

    // あかさたな　選択
    &__line {
      width: 100%;
      display: none;

      // 行　選択
      &--select {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
          padding: 0 10px;
          font-size: 2rem;
          height: 100%;

          img {
            width: 60px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    // 名前検索
    &__search {
      display: none;
    }
  }
}
@media (max-width: $tb) {
  body {
    background-image: url("../../common/images/ground_tabret_name.svg");
  }
}
@media (max-width: $sm) {
  body {
    background-image: url("../../common/images/ground_tabret_fixed.svg");
  }
}
