.main{

    &__line{
        display: flex;

        li{
            padding: 0 10px;
            font-size: 2rem;
        }
    }

    &__list{
        padding-top: 50px;
        font-size: 2.5rem;
    }
}