.main{

    .active{
        display: inline-block;
    }

    // 行・名前検索　選択
    &__select{
        display: flex;
        justify-content: space-around;
    }

    // あかさたな　選択
    &__line{
        display: none;

        // 行　選択
        &--select{
            display: flex;
            
            li{
                padding: 0 10px;
                font-size: 2rem;
                width: 100%;
                height: 100%;
            }
        }

        // 行　結果
        &--name{
            padding-top: 50px;
            font-size: 2.5rem;
        }
    }

    // 名前検索
    &__search{
        display: none;
    }
}