body {
  background-image: url("../../common/images/ground_smartphone_fixed.svg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .main .active {
  display: inline-block;
}

body .main__line {
  display: none;
}

body .main__line--select {
  display: flex;
  flex-wrap: wrap;
}

body .main__line--select li {
  padding: 0 10px;
  font-size: 2rem;
  height: 100%;
}

body .main__line--select li img {
  width: 60px;
}

body .main__line--select li img:hover {
  cursor: pointer;
}

body .main__line--name {
  padding-top: 50px;
  font-size: 2.5rem;
}

body .main__search {
  display: none;
}

@media (max-width: 768px) {
  body {
    background-image: url("../../common/images/ground_tabret_name.svg");
  }
}

@media (max-width: 450px) {
  body {
    background-image: url("../../common/images/ground_tabret_fixed.svg");
  }
}
