body .main__animal h1 {
  padding: 0;
}

body .main__animal--img {
  margin: 0;
}

body .main__animal table tbody tr th {
  width: 60px;
  text-align: left;
}

body .main__animal table tbody tr td {
  padding: 10px 0;
}
