body {
  background-image: url("../../common/images/ground_smartphone_fixed.svg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .main__each {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

body .main__each li {
  border: 2px solid #000;
  margin: 20px;
}

@media (max-width: 450px) {
  body .main__each li {
    width: 45%;
    margin: 5px;
  }
}

body .main__each li:nth-child(3n + 2):last-child {
  margin-right: auto;
}

@media (max-width: 450px) {
  body .main__each li:nth-child(3n + 2):last-child {
    margin: 20px;
  }
}

body .main__each li img {
  width: 240px;
  height: auto;
}

@media (max-width: 768px) {
  body .main__each li img {
    width: 300px;
  }
}

@media (max-width: 450px) {
  body .main__each li img {
    width: 100%;
  }
}

body .main__each li p {
  text-align: center;
}

@media (max-width: 450px) {
  body .main__each li p {
    margin: 5px 0;
  }
}
