// 変数
$sm: 450px;
$tb: 768px;
$pc: 980px;

body {
  background-image: url("../../common/images/ground_smartphone_fixed.svg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
