// 変数
$sm: 450px;
$tb: 768px;
$pc: 1080px;

html{
    overflow: hidden;
}

body{

    .main{
        font-size: 2rem;
        letter-spacing: 5px;

        @media( max-width: $tb ){
            font-size: 1rem;
        }

        h1{
            padding-left: 50px;
            border-left: 8px solid #000;
            border-radius: 6px;
        }

        &--info{
            display: flex;

            @media( max-width: $tb ){
                flex-direction: column;
            }

            // 名前・写真
            &__appearance{
                
                img{
                }
            }

            // 詳細情報
            &__details{
                padding-left: 10px;

                table{
                    line-height: 3rem;

                    tr{

                        // 各タイトル
                        th{
                            width: 20%;
                            vertical-align: top;
                        }
                        // 各情報
                        td{

                        }
                    }
                }
            }
        }
    }
}