$sm: 450px;
$tb: 768px;
$pc: 980px;
body {
  background-image: url("../../common/images/ranking_background_img.svg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

  section {
    .main {
      &--bumon {
        font-size: 7rem;
        text-align: center;
      }
      &--rank {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          .rank_asc {
            width: 200px;
            height: auto;
          }
          img {
            object-fit: cover;
            object-position: center top;
            width: 500px;
            height: 300px;
          }
        }
        
        .rank_asc {
          width: 200px;
          float: left;
          padding-right: 30px;
        }
        // &__S1 {
          //   img {
            //     width: 500px;
            //     height: auto;
            //   }
            // }
            
            &__S1,
            &__S2,
            &__S3{
              width: 600px;
              height: 600px;

              text-align: center;
            }

            
            p{
                font-size: 3rem;
            }
            
            // &__S3 {
              //   padding-bottom: 50px;
              //   img {
                //     width: 400px;
                //     height: auto;
                //   }
                // }
        &__L1,
        &__L2,
        &__L3 {
          width: 600px;
          height: 600px;

          text-align: center;
          // img {
          //   width: 400px;
          //   height: auto;
          // }
        }
        .comment {
          font-size: 2.5rem;
          float: left;
        }
      }
    }
  }
}
@media (max-width: $tb) {
  body{
    background-image: url("../../common/images/ranking_background_tabret_img.svg");
  }
}

@media (max-width: $sm) {
  body{
    background-image: url("../../common/images/ranking_background_smartphone_img.svg");
    section {
      .main {
        &--bumon {
          font-size: 4rem;
        }
        &--rank {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          li {
            .rank_asc {
              width: 130px;
              height: auto;
            }
            img {
              object-fit: cover;
              object-position: center top;
              width: 350px;
              height: 230px;
            }
          }
          
          // .rank_asc {
          //   width: 300px;
          //   float: left;
          //   padding-right: 30px;
          // }
          // &__S1 {
            //   img {
              //     width: 500px;
              //     height: auto;
              //   }
              // }
              
              &__S1,
              &__S2,
              &__S3{
                width: 400px;
                height: 400px;
  
                text-align: center;
              }
              p{
                font-size: 2rem;
                text-align: center;
              }
              
              // &__S3 {
                //   padding-bottom: 50px;
                //   img {
                  //     width: 400px;
                  //     height: auto;
                  //   }
                  // }
                  &__L1,
                  &__L2,
          &__L3 {
            width: 400px;
            height: 400px;
            
            text-align: center;
            
          }
          // .comment {
            //   font-size: 2.5rem;
            //   float: left;
            // }
          }
        }
      }
    }
  }
  