body {
  section {
    .main {
      &--bumon {
        font-size: 6rem;
        text-align: center;
      }
      &--rank {
        display: flex;
        flex-direction: column;
        align-items: center;
        // &__S1 {
        //   img {
        //     width: 500px;
        //     height: auto;
        //   }
        // }

        &__S1 {
          width: 500px;
          height: 500px;
        }

        &__S2,
        &__S3 {
          img {
            width: 400px;
            height: auto;
          }
        }
        &__L1,
        &__L2,
        &__L3 {
          img {
            width: 400px;
            height: auto;
          }
        }
        p {
          font-size: 2.5rem;
          float: left;
          margin-right: 100px;
        }
      }
    }
  }
}
