body {
  background-image: url("../../common/images/ranking_background_img.svg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

body section .main--bumon {
  font-size: 7rem;
  text-align: center;
}

body section .main--rank {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section .main--rank .rank_asc {
  width: 200px;
  float: left;
  padding-right: 50px;
}

body section .main--rank__S1 {
  width: 500px;
  height: 500px;
}

body section .main--rank__S2, body section .main--rank__S3 {
  padding-bottom: 50px;
}

body section .main--rank__S2 img, body section .main--rank__S3 img {
  width: 400px;
  height: auto;
}

body section .main--rank__L1 img, body section .main--rank__L2 img, body section .main--rank__L3 img {
  width: 400px;
  height: auto;
}

body section .main--rank .comment {
  font-size: 2.5rem;
  float: left;
}
