body section .main--bumon {
  font-size: 6rem;
  text-align: center;
}

body section .main--rank {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section .main--rank__S1 {
  width: 500px;
  height: 500px;
}

body section .main--rank__S2 img, body section .main--rank__S3 img {
  width: 400px;
  height: auto;
}

body section .main--rank__L1 img, body section .main--rank__L2 img, body section .main--rank__L3 img {
  width: 400px;
  height: auto;
}

body section .main--rank p {
  font-size: 2.5rem;
  float: left;
  margin-right: 100px;
}
